*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    background-color: #efefee;
    color: #303030;
}
#form-singin {
  width: 32vw;
  padding: 15px;
  margin: 0 auto;
}
header{
    padding: 2em;
};
.img-header{
    width: 15em;
}
#form-login{
  width: 350px;
  padding: 15px;
  margin: 0 auto; 
}
#form-singin{
    width: 630px;
    padding: 15px;
    margin: 0 auto;
}
textarea{
    height: 12em;
}
.form-control{
    margin-bottom: 0.5em;
}
.box{
    width: 350px;
    margin-right: 0.5em;
}
<<<<<<< HEAD
b{
    color: black;
}

.logo-header-peq {
    width: 150px;
}
header{
    padding: 10px;
}
.evento {
    width: 100%;
    background-color: #8F9ECC;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
}
.logo-encontro {
    width: 150px;
    margin: 5px 20px 5px 20px;
}
.branco{
    color: white;
    text-shadow: 1px 1px black;
}
=======
>>>>>>> 63f1ecd78343e25eeb84c40c11a3fa3258d05ae3
